<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation targetFramework="4.8" />
    <customErrors mode="Off"/>
    <authentication mode="Windows" />

    <roleManager enabled="true" defaultProvider="WindowsProvider">
      <providers>
        <add name="WindowsProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>

    <!--authorization>
      <deny users="?" />
      <allow roles="MTG\WebDownloads" />
      <deny users="*" />
    </authorization-->

  </system.web>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="DirBrowser" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="^/index\.aspx" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.aspx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>
